body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    margin-bottom: 30px;
    text-align:center
}

.contain{
    display: flex;
    justify-content:center;
    background-color:white;
    width:50%;
    margin:auto
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    max-width:300px
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.95);
}

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.con{
    display: flex;
    justify-content:center
}

#imge{
    width:200px;

}